body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #1e1e1e;
}

.sidebar h2 {
    margin-top: 0;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #e63946;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ff4d5a;
}

.status span {
    font-weight: bold;
}

#map {
    flex: 1;
    height: 100vh;
}

